::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
  
  .headers.td {
      font-style:bold;
      }
  
  table, th, td {
      border: 1px solid black;
      padding:5px;
  }
  
  .err {
      color:red;
  }
  
  button {
      margin: 5px;
  }
  .cmd {
      font-size: 14px;
      font-style:italic;
      width: 100%;
      font-family: courier, monospace;
      
  }
  
  
  body {
      float: left;
      width:1200px;
      padding:30px;
      font-family: Tahoma;
      margin-top:20px;
      /* margin:10px; */
  }
  
  .desc {
      width:1000px;
      /* padding:30px; */
      /* font-family: monaco, "Bitstream Vera Sans Mono", monospace; */
      font-family: courier, monospace;
      float:left;
  }
  
  .inlined {
      width:650px;
      /* height:auto; */
      /* position: relative; */
      float:left;
      border-style: dotted;
      padding:5px;
      margin:10px;
      overflow:auto;
  }
  
  
  
  .steps {
      padding:5px;
      margin:10px;
      float:left;
      width:300px;
  }
  
  .explanations {
      float:left;
  }
  
  
  .allowed {
      color:green;
  }
  
  .blocked{
      color:red;
      text-decoration: line-through;
  }
  
  h2 {
      text-align: center;
  }
  
  #commandbox {
      border:1px solid;
      padding:2px;
      height: 300px;
      margin-bottom:5px;
  }
  
  li.message {
      font-size: 14px;
  }
  
  textarea {
      font-size: 18px;
      font-style:italic;
      width: 100%;
      /* height: 500px; */
      font-family: courier, monospace;
  
  }
  
  #protocol {
      /* float:left; */
      /* width:400px; */
      height:150px;
      border-style: solid;
      border-color: black;
      padding:5px
  }
  
  
  
  .agents {
      float:left;
      width:300px;
      padding:5px;
      margin:0px;
      height:auto;
      position:relative;
  }
  
  .agent {
      float:left;
      width:150px;
      border-style: dotted;
      border-color: silver;
      border-radius: 5px;
      background: silver;
  
      min-height:150px;
      margin:5px;
      padding:5px;
      margin-right:150px;
  }
  
  .agent_right {
      float:right;
      width:150px;
      margin:110 5 5 5;
      border-style: dotted;
      border-color: silver;
      border-radius: 5px;
      background: silver;
  
      min-height:150px;
      /* margin:5px; */
      padding:5px;
  }
  
  .agent_top_right {
      float:right;
      width:150px;
      margin:5 5 5 5;
      border-style: dotted;
      border-color: silver;
      border-radius: 5px;
      background: silver;
  
      min-height:150px;
      /* margin:5px; */
      padding:5px;
  }
  
  .agent_content {
      height:90px;
      overflow-y:scroll;
  
  }
  
  .game {
      width:1200px;
  }
  
  #centre {
      float:left;
      width:600px;
      height:900px;
      padding:5px
  }
  
  .networkbar {
      width: 20px; /*can be in percentage also.*/
      height: 95%;
      float:left;
      /* margin: 0 auto; */
      /* margin-right: 30px; */
      /* padding: 0px; */
      /* position: relative; */
      border-style:solid;
      border-color:grey;
      background:lightgrey;
  
  }
  
  
  #right {
      float:left;
      width:400px;
      height:900px;
      border-style: solid;
      border-color: red;
      padding:5px
  }
  
  #objectives {
      /* float:left; */
      /* width:350px; */
      border-style: solid;
      border-color: orange;
      padding:5px;
      padding-left: 30px;
  }
  
  #console {
      float:left;
      width:320px;
      padding:5px;
  }
  
  #command {
      float:right;
      width:300px;
      border-style: solid;
      border-color: white;
      padding:5px;
  }
  
  #console_log {
      /* float:right; */
      /* width:300px; */
      border-style: solid;
      border-color: white;
      padding:20px;
      /* padding-top:100px; */
      /* padding-right:100px; */
  }
  
  
  #message_list1{
      height:90px;
      overflow-y:scroll;
      list-style: none;
      margin-left:-25px;
      font-family: Tahoma;
  
  }
  
  
  .network {
      /* height:140px; */
      width:300px;
      height:150px;
      float:right;
      margin:30 auto;
      border-style: dashed;
      border-color: black;
      background-color:#CCCCCC;
  }
  
  #command_list {
      /* width: 100%; */
      text-align: left;
      /* background-color: lightyellow; */
      font-size: 14px;
  }
  
  #help {
      float:left;
      width:400px;
      height:900px;
      border-style: solid;
      border-color: yellow;
      padding:5px;
      font-size: 14px;
  
  }
  
  .facts {
      height:40px;
  }
  
  .tooltip {
      position: relative;
      display: inline-block;
      /* border-bottom: 1px dotted black; */
      margin-bottom: 10px;
  }
  
  .tooltip .tooltiptext {
      visibility: hidden;
      width: 250px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
      visibility: visible;
  }
  