/*@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&family=Space+Mono&display=swap');*/


#hideAll
 {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 99; /* Higher than anything else in the document */

 }

 
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
img[alt$="<"] {
    float: left;
}

body {
    margin: auto;
    max-width: 800px;
    margin-left:150px;
    margin-right:50px;
    margin-top:50px;
    margin-bottom:50px;
    /*font-family: 'Space Mono', monospace;*/
    font-family: "Helvetica Neue";
    font-size: 16px;
    visibility: hidden;
}

h1 {
    font-size: 20px;
    text-decoration: underline;
}

h2 {
    font-size: 18px;
}

.logo img {
    border-radius: 50%;
    display: block;
}
.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1px;
}

table, th, td {
    border: 1px solid black;
    padding:5px;
}

.uncheck {
    display: none;
}

.check {
    display: inline;
    color: green;
}
.met{
    color: green;
}

.unmet {
    color: grey;
}

.err {
    color:red;
}

button {
    margin: 5px;
    font-size: 18px;
}

.cmd {
    font-size: 14px;
    font-style:italic;
    width: 100%;
    font-family: courier, monospace;
}

.help {
    display:none;
}
.inlined {
    width:350px;
    /* height:auto; */
    /* position: relative; */
    float:left;
    border-style: dotted;
    padding:5px;
    margin:10px;
    overflow:auto;
}

.blocked{
    color:red;
    text-decoration: line-through;
}


li.message {
    font-size: 14px;
}

textarea {
    font-size: 18px;
    font-style:italic;
    width: 100%;
    /* height: 500px; */
    /*font-family: courier, monospace;*/
    border-style: solid;
    border-color: red;
    border-radius: 5px;
}

.game {
    width:auto;
    /*height:600px;*/
    font-family: 'Space Mono', monospace;
}

.top {
    position: relative;
    width: 800px;
}

.description {
    width: 395px;
    /*border-right: 5px solid lightslategray;*/
    float: left;
}

.agents {
    float: left;
    margin-top:20px;
    margin-bottom: 5px;
    margin-left:10px;
    height: auto;
    width:395px;
    /*max-height:250px;*/
    position:relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

.agent h2 {
    margin-top: 0;
}

.agent, .adversary {
    /*width:80vh;*/
    border-style: solid;
    border-width: 1px;
    border-color: darkslateblue;
    border-radius: 1px;
    background-color: white;

    border-top:    0px dashed  darkslateblue;
    border-right:  0px solid white;
    border-bottom: 2px dashed darkslateblue;
    border-left:   2px solid  darkslateblue;
    /*min-height:180px;*/
    /*margin-bottom: 50px;*/
    padding:3px;
    margin-right:0px;
    margin-bottom:0px;
    z-index:20;
    overflow-x:auto;
}

.agent_content {

}

.adversary
 {
    border-color: darkred;
}


.control {
    margin-top:80px;
    margin-bottom: 10px;
    height: auto;
    width:850px;
}

.network {
    float:left;
    width:395px;
    border-style: solid;
    border-color: lightslategray;
    border-radius: 0px;
}

.annotation {
    display: table;
    margin:auto;
    /*font-family: monospace;*/
    color: lightslategray;
}

.networkname {
    display: table;
    margin:auto;
    font-family: monospace;
    color: lightslategray;
}

.message_list {
    height:195px;
    overflow-y:scroll;
    list-style: none;
    margin-left:-25px;
    /*font-family: monospace;*
    /*font-size: 16px;*/
}

.command {
    float:left;
    /*border-style: solid;*/
    border-color: lightslategray;
    padding:0px;
    width:400px;
}

.codeEditor, .lineCounter {
    font-family: lucida console, courier new, courier, monospace;
    margin: 0;
    padding: 10px 0;
    height: 251px;
    border-radius: 0;
    resize: none;
    font-size: 16px;
    /*line-height: 1.2;*/
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.codeEditor {
    padding-left: calc(3.5rem + 5px);
    width: 100%;
    width: 400px;
    /* Determine appearance of code editor */
    background-color: #272822;
    border-color: #272822;
    color: #ffffff;
}

.lineCounter {
    display: flex;
    border-color: transparent;
    overflow-y: hidden;
    text-align: right;
    box-shadow: none;
    color: #707070;
    background-color: #d8d8d8;
    position: absolute;
    width: 3.5rem;
    /* Determine appearance of line counter */
    background-color: #3E3D32;
    border-color: #3E3D32;
    color: #928869;
}

#lineCounter:focus-visible,
#codeEditor:focus-visible {
    outline: none;
}

.err {
    width:800px;
}
svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#help {
    float:left;
    width:100%;
    padding:35px;
    font-size:16px;
    font-family: Helvetica;

}

.group-button button{
    width: auto;
    height: 40px;
}

.group-button input[type="number"]{
    width: auto;
    line-height: 32px;
    width:100px; 
    text-align:center;
}

.group-button label{
    padding: 5px;
    font-weight: bold;
}

input[type=number].range-input::-webkit-inner-spin-button {
    opacity: 1
}
